data/gsm8k/test.json
data/gsm8k/test.jsonl
data/gsm8k/train.json
data/gsm8k/train.jsonl
data/math/math.zip
data/math/test.json
data/math/train.json
data/math/extract/math-main/data_file_lists/no_steps_flist_relative_algebra.txt
data/math/extract/math-main/data_file_lists/no_steps_flist_relative_counting_and_statistics.txt
data/math/extract/math-main/data_file_lists/no_steps_flist_relative_calculus.txt
data/math/extract/math-main/data_file_lists/no_steps_flist_relative_geometry.txt
data/math/extract/math-main/data_file_lists/no_steps_flist_relative_number_theory.txt
data/math/extract/math-main/data_file_lists/with_steps_flist_relative_algebra.txt
data/math/extract/math-main/data_file_lists/with_steps_flist_relative_counting_and_statistics.txt
data/math/extract/math-main/data_file_lists/with_steps_flist_relative_calculus.txt
data/math/extract/math-main/data_file_lists/with_steps_flist_relative_geometry.txt
data/math/extract/math-main/data_file_lists/with_steps_flist_relative_number_theory.txt
data/math/extract/math-main/modeling/dataset/util.py
data/math/extract/math-main/modeling/dataset/khan_academy.py
data/math/extract/math-main/modeling/dataset/mathematica.py
data/math/extract/math-main/modeling/dataset/mathematica_with_steps.py
data/math/extract/math-main/modeling/dataset/base_math_dataset.py
data/math/extract/math-main/modeling/dataset/MATH.py
data/math/extract/math-main/modeling/eval_math_gpt.py
data/math/extract/math-main/modeling/evaluate_gpt3.py
data/math/extract/math-main/modeling/math_equivalence.py
data/math/extract/math-main/modeling/math_equivalence_test.py
data/math/extract/math-main/modeling/merges_gpt2.txt
data/math/extract/math-main/modeling/merges_gpt2_single_digit_numbers.txt
data/math/extract/math-main/modeling/tune_gpt.py
data/math/extract/math-main/setup.py
data/mmlu/test.json
data/mmlu/train.json

data/math/extract/math-main/modeling/dataset/__pycache__/base_math_dataset.cpython-37.pyc
data/math/extract/math-main/modeling/dataset/__pycache__/MATH.cpython-37.pyc
data/math/extract/math-main/modeling/dataset/__pycache__/mathematica.cpython-37.pyc
data/math/extract/math-main/modeling/dataset/__pycache__/mathematica_with_steps.cpython-37.pyc
data/math/extract/math-main/modeling/dataset/__pycache__/khan_academy.cpython-37.pyc

data/math/extract/math-main/LICENSE
data/math/extract/math-main/dataset_comparison.png
data/math/extract/math-main/README.md
data/math/extract/math-main/data_file_lists/no_steps_flist_relative_linear_algebra.txt
data/math/extract/math-main/data_file_lists/no_steps_flist_relative_linear_algebra.txt

data/math/extract/math-main/modeling/dataset/__pycache__/util.cpython-37.pyc
data/math/extract/math-main/modeling/dataset/__pycache__/khan_academy.cpython-37.pyc

data/mmlu/mmlu.zip
data/math/extract/math-main/data_file_lists/with_steps_flist_relative_linear_algebra.txt
data/mmlu/extract/test-master/test_calibration.py
data/*
data/privacy_tokens.json
*.pyc
data/privacy_tokens.json
